@import "@carbon/colors/scss/colors";

main {
  padding-top: 3rem; /*padding top accomodates for fixed header*/

  display: grid;
  grid-template-columns: 1fr 3fr;
  min-height: 100vh;
}

#falseBox {
  display: grid;
  align-content: center;

  width: 100%;
  height: 125px;
  padding: 1rem;

  border: 2px dashed $gray-80;
}

#falseBox > div {
  color: $gray-80;
  font-size: 10pt;
}

main > section {
  padding: 1rem 2rem;
}

.output {
  background-color: $gray-90;
  color: $white-0;
  width: 100%;
  height: 100%;
}

.none {
  display: none;
}

.sucess {
  font-weight: bold;
  color: $green-50;
}

.fail {
  font-weight: bold;
  color: $red-50;
}
