@import "@carbon/colors/scss/colors";

main {
  padding-top: 3rem; /*padding top accomodates for fixed header*/

  display: grid;
  grid-template-columns: 1fr 3fr;
  min-height: 100vh;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  content: 'Drag or Select a file';
  
  width: 100%;
  height: 125px;
  
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
}
.custom-file-input:hover {
  color: $blue-60;
  border-color: $blue-60;
}
.custom-file-input:active {
  color: $blue-70;
  border-color: $blue-70;
}
.custom-file-input{
  border: 2px dashed $gray-80;

  margin: 0 auto;
}


#falseBox {
  display: grid;
  align-content: center;

  width: 100%;
  height: 125px;
  padding: 1rem;

  border: 2px dashed $gray-80;
}

#falseBox > div {
  color: $gray-80;
  font-size: 10pt;
}

main > section {
  padding: 1rem 2rem;
}

.output {
  background-color: $gray-90;
  color: $white-0;
  width: 100%;
  height: 100%;
}

.none {
  display: none;
}

.sucess {
  font-weight: bold;
  color: $green-50;
}

.error {
  font-weight: bold;
  color: $red-50;
}

.warn {
  font-weight: bold;
  color: $yellow-50;
}
